<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Watchlist Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Movie Watchlist Comparison</h1>
    
    <form action="/compare" method="POST">
        <!-- <label for="usernames">Enter usernames (comma separated):</label>
        <input type="text" name="usernames" id="usernames" required> -->
        <div class="input-wrapper">
            <input type="text" name="user1" id="user1" required>
            <label for="user1">username 1</label>
        </div>
            
        <div class="input-wrapper">
            <input type="text" name="user2" id="user2" required>
            <label for="user2">username 2</label>
        </div>
        <button class="button" type="submit">Compare</button>
    </form>


    <h3>I am very sorry it takes about 2min to run rip</h3>

    {% if common_movies %}
        <h2>Common Movies for {{ usernames|join(" and ") }}:</h2>
        <div class="film-gallery">
            {% for movie in common_movies %}
                <div>
                    <a href="{{ movie.link }}">
                        <img src="{{ movie.image_url }}" alt="{{ movie.name }}">
                    </a>
                </div>
            {% endfor %}
            </div>
    {% elif usernames %}
        <p>No common movies found for {{ usernames|join(", ") }}.</p>
    {% endif %}
</body>
</html>